  
  
  
  body {
    transition: background-color linear 1s;
    
  }

  c1{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;

  }
  
  h1 {
    color:rgb(91, 91, 91);
    font-family:'Roboto', sans-serif;;
    font-size: 40pt;
    
    
  }

  h2 {
    color:rgb(91, 91, 91);
    font-family:'Roboto', sans-serif;;
    font-size: 10pt;  
    
  }

  h4 {
    color:rgb(153, 35, 35);
    font-family:'Roboto', sans-serif;;
    font-size: 10pt;  
    display: none;;
    
  }
  
  strong {
    color: #adadad;
    font-size: 17.777pt;
    
  }
  
  body.phase1{
    position:relative; 
    background-color: #7f7fcf;
    
  }
  
  body.phase2{
    position:relative; 
    background-color: #ffd6ff;
    color: yellow;
    
  }
  
  body.phase3 {
    background-color: #9a9a9a;
    color: white;
  }
  
iframe{
  
  mix-blend-mode: difference;
  
}

#hauntingEye {
  pointer-events: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  
  mix-blend-mode: difference;
  object-fit: fill;
  
  opacity: 0.0;
  transition: opacity linear 10s;
  
  z-index: 5;
}

#hauntingEye.phase1 {
    opacity: 0.2
  }

#hauntingEye.phase2 {
    opacity: 0.5
  }

#hauntingEye.phase3 {
    opacity: 0.8
  }

